01

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

```

In [ ]:
# for 변수 in 과일  => 변수는 리스트의 인자값을 받음 / 과일 => 리스트 이름
"사과"
"귤"
"수박"

02

for문의 실행결과를 예측하라.

```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

In [ ]:
# 반복문은 리스트의 인자 갯수만큼 반복됨.
"#####" 
"#####"
"#####"

03

다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

In [ ]:
#리스트 생성
변수 = ["A", "B", "C"]

#리스트의 각 인덱스를 출력 반복
print(변수[0])
print(변수[1])
print(변수[2])

#각각으로 나누면 이런모양
print("A")
print("B")
print("C")

04

for문을 풀어서 동일한 동작을하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)
```

In [ ]:
#리스트
변수 = ["A", "B", "C"]

#각 리스트의 인자값을 차례대로 출력하는것이 반복문
print("출력 : ",변수[0])
print("출력 : ",변수[1])
print("출력 : ",변수[2])

05

for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

```
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
```

In [ ]:
#리스트
변수 = ["A", "B", "C"]

#리스트의 각 인덱스에 .lower()함수를 적용해서 b라는 변수에 담음
b = 변수[0].lower()
print("변환 : ",b)
b = 변수[1].lower()
print("변환 : ",b)
b = 변수[2].lower()
print("변환 : ",b)

#한줄씩으로 각각 요약하면 다음과 같다.
print("변환 : ",변수[0].lower())
print("변환 : ",변수[1].lower())
print("변환 : ",변수[2].lower())

06

다음 코드를 for문으로 작성하라.

```
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [22]:
#리스트 생성 으로 하는 방법
변수 = [10,20,30]
for i in 변수: # 변수리스트의 각 값을 i가 받음
    print("변수 = ",i) # 각각의 인덱스를 출력

#리스트를 생성하지않고 하는 방법
for i in range(10,31,10): # i 가 10부터, 31전까지, 10씩 증가
    print(i)

변수 =  10
변수 =  20
변수 =  30
10
20
30

07

다음 코드를 for문으로 작성하라.

```
print(10)
print(20)
print(30)
```

In [2]:
#변수와 반복문을 활용한 방법
i = 10
for j in range(3):
    print(i)
    i+=10

#변수없이 반복문을 활용한 방법
for i in range(10,31,10): # i 가 10부터, 31전까지, 10씩 증가
    print(i)

10
20
30

08

다음 코드를 for문으로 작성하라.

```
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
```

In [4]:
for i in range(10,31,10): # i 가 10부터, 31전까지, 10씩 증가
    print(i) # 총 3회 찍힘 (10,20,30)
    print("-------") # i를 찍고나서 같이 찍힘 (마찬가지로 3회)

10
-------
20
-------
30
-------

09

다음 코드를 for문으로 작성하라.

```
print("++++")
print(10)
print(20)
print(30)
```

In [2]:
#조건문과 반복문을 활용한 방법
for i in range(10,31,10): # i 가 10부터, 31전까지, 10씩 증가
    if i==10: # i가 10인 첫번째만 ++++를 찍어줌
        print("++++")
    print(i) # i 값 10 20 30 각각 출력

++++
10
20
30

10

다음 코드를 for문으로 작성하라.

```
print("-------")
print("-------")
print("-------")
print("-------")
```

In [ ]:
for i in range(4): #4회 반복
    print("-------") # 출력

11

다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

```
리스트 = [100, 200, 300]
```
```
110
210
310
```

In [8]:
리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10) # 각 값에 10을 더해서 출력

110
210
310

12

for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.
```
리스트 = ["김밥", "라면", "튀김"]
```
```
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [ ]:
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트: #리스트의 각 인자값을 i가 받음
    print("오늘의 메뉴 : ",i) # 각 인자값 출력

13

리스트에 주식 종목이름이 저장돼 있다.

```
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```

저장된 문자열의 길이를 다음과 같이 출력하라.
```
6
4
4
```

In [9]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for i in 리스트: #리스트의 요소를 i에 넣어서
    print(len(i)) #len함수 활용, 길이 출력

6
4
4

14

리스트에는 동물이름이 문자열로 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```

동물 이름과 글자수를 다음과 같이 출력하라.

```
dog 3
cat 3
parrot 6
```

In [10]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트: #리스트의 요소를 i에 넣어서
    print(i,len(i)) #len함수 활용, 길이 출력

dog 3
cat 3
parrot 6

15

리스트에 동물 이름 저장돼 있다.

```
리스트 = ['dog', 'cat', 'parrot']
```
for문을 사용해서 동물 이름의 첫 글자만 출력하라.
```
d
c
p
```

In [13]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0]) # string의 인덱스를 이용해  0번 인덱스 값 출력 (첫글자)

d
c
p

16

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```

for문을 사용해서 다음과 같이 출력하라.
```
3 x 1
3 x 2
3 x 3
```

In [15]:
리스트 = [1, 2, 3]

for i in 리스트: # 리스트각 요소를 순서대로 i에 담아서
    print("3 x",i) #단순 출력 반복

3 x 1
3 x 2
3 x 3

17

리스트에는 세 개의 숫자가 바인딩돼 있다.

```
리스트 = [1, 2, 3]
```
for문을 사용해서 다음과 같이 출력하라.
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [17]:
리스트 = [1, 2, 3]

for i in 리스트: # 리스트각 요소를 순서대로 i에 담아서
    print("3 x",i,"=",i*3) #각 요소에 3을 곱해서 출력

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

18

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
나
다
라
```

In [21]:
#슬라이싱을 활용
리스트 = ["가", "나", "다", "라"]

for i in 리스트[1:]: #1번 인덱스부터 출력
    print(i)

나
다
라

19

리스트에는 네 개의 문자열이 바인딩돼 있다.
```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
가
다
```

In [3]:
#슬라이싱을 활용 
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]: #0번,2번 인덱스 출력
    print(i)

가
다

20

리스트에는 네 개의 문자열이 바인딩돼 있다.

```
리스트 = ["가", "나", "다", "라"]
```
for문을 사용해서 다음과 같이 출력하라.
```
라
다
나
가
```

In [35]:
#슬라이싱을 활용 
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]: #역정렬
    print(i)


for i in range(len(리스트)-1,-1,-1): #길이-1 (인덱스 끝부분) , -1 뒤에서부터 , -1 (1씩 감소)
    print(리스트[i])

라
다
나
가
라
다
나
가

21

리스트에는 네 개의 정수가 저장돼 있다.

```
리스트 = [3, -20, -3, 44]
```

for문을 사용해서 리스트의 음수를 출력하라.
```
-20
-3
```

In [5]:
리스트 = [3, -20, -3, 44]

#조건문 활용
for i in 리스트:
    if i<0: #음수일때
        print(i) #출력

-20
-3

22

for문을 사용해서 3의 배수만을 출력하라.

```
리스트 = [3, 100, 23, 44]
```
```
3
```

In [8]:
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i%3==0: #3의 배수는 3으로 나눴을때 나머지가 없음
        print(i) #3의 배수 출력

3

23

리스트에서 20 보다 작은 3의 배수를 출력하라
```
리스트 = [13, 21, 12, 14, 30, 18]
```
```
12
18
```

In [9]:
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i%3==0 and i<20: #3의 배수이면서, 20보다 작은 두가지 조건
        print(i) # 출력

12
18

24

리스트에서 세 글자 이상의 문자를 화면에 출력하라

```
리스트 = ["I", "study", "python", "language", "!"]
```
```
study
python
language
```

In [10]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i)>=3: #len(i)는 i의 길이, 길이가 3이상인 i값을 찾는 조건
        print(i)

study
python
language

25

리스트에서 대문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
A
D
```
(참고) isupper() 메서드는 대문자 여부를 판별합니다.
```
>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False
```

In [11]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper(): # isupper() 활용 대문자면 True, 소문자면 False라서 조건문 실행X
        print(i) # 조건충족하면 출력

A
D

26

리스트에서 소문자만 화면에 출력하라.

```
리스트 = ["A", "b", "c", "D"]
```
```
b
c
```

In [12]:
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower(): # islower() 활용 소문자면 True, 대문자면 False라서 조건문 실행X
        print(i) # 조건충족하면 출력

b
c

27

이름의 첫 글자를 대문자로 변경해서 출력하라.

```
리스트 = ['dog', 'cat', 'parrot']
```
```
Dog
Cat
Parrot
```
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.
```
>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC
```

In [14]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트: #리스트와 반복문 
    print(i[0].upper() + i[1:]) # 각 값의 0번째 인덱스를 대문자로 + 나머지값을 합쳐서 출력

Dog
Cat
Parrot

28

파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

```
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
```
```
hello
ex01
intro
```

In [15]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    a=i.split(".") # i를 .을 기준으로 split 해서 a라는 변수에 담는다 (a는 리스트가 됨)
    print(a[0]) # .앞부분인 (확장자가 제거된) 파일이름부분만 출력

    #i.split(".")[0] 이렇게 바로 인덱싱 가능

hello
ex01
intro

29
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
define.h
```

In [18]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    a=i.split(".") # i를 .을 기준으로 split 해서 a라는 변수에 담는다 (a는 리스트가 됨)
    if a[1]=="h": #확장자가 h와 같은지 확인
        print(i) #조건이 충족한 i만 출력

intra.h
define.h

30
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

```
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
```
```
intra.h
intra.c
define.h
```

In [19]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if ".h" in i or ".c" in i: # .h 혹은 .c를 포함하고있는 i는 출력 (단, 이 방법은 h와 c로시작하는 다른 확장자가 있으면 출력되므로 유의)
        print(i) #출력

intra.h
intra.c
define.h

31

for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [20]:
for i in range(0,100,1): # i는 0부터 시작해서 100 전(99) 까지, 1씩 증가
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

32

월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

```
2002
2006
2010
...
2042
2046
2050
```
참고) range의 세번 째 파라미터는 증감폭을 결정합니다.
```
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]
```

In [22]:
for i in range(2002,2051,4): # 2002년부터 2051년 전까지 4년마다
    print(i) #출력

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

33

1부터 30까지의 숫자 중 3의 배수를 출력하라.

```
3 
6 
9 
12 
15 
18 
21 
24 
27 
30
```

In [23]:
for i in range(1,31,1): #1부터 31전까지 1씩증가
    if i%3==0: #3의 배수를 찾는 조건
        print(i) #출력

3
6
9
12
15
18
21
24
27
30

34

99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [24]:
for i in range(99,-1,-1): # 99부터 -1전까지 1씩 감소
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

35

for문을 사용해서 아래와 같이 출력하라.

```
0.0
0.1
0.2
0.3
0.4
0.5
...
0.9
```

In [26]:
for i in range(0,10,1): #정수형만 들어갈 수 있음
    print(i/10) #float형 대신에 10을 나눠서 출력

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

36

구구단 3단을 출력하라.
```
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
```

In [43]:
for i in range(1,10,1):
    print("3 x",i," = ",i*3) # i는 1~9까지 값이고 3을 곱한값을 출력

3 x 1  =  3
3 x 2  =  6
3 x 3  =  9
3 x 4  =  12
3 x 5  =  15
3 x 6  =  18
3 x 7  =  21
3 x 8  =  24
3 x 9  =  27

37

구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

```
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27
```

In [29]:
for i in range(1,10,2): # 2씩 증가로 홀수만
    #if i % 2 != 0: 라는 조건식으로 해도됨
    print("3 x ",i," = ",i*3)

3 x  1  =  3
3 x  3  =  9
3 x  5  =  15
3 x  7  =  21
3 x  9  =  27

38

1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합 : 55
```

In [30]:
a = 0
for i in range(1,11,1): # i 는 1부터 11전까지(10까지) 1씩 증가, 1부터 10까지
    a += i # 계속 a에 더해줌

print(a)

55

39

1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

```
합: 25
```

In [31]:
a = 0
for i in range(1,11,2): # i 는 1부터 11전까지(10까지) 2씩 증가, 1부터 10까지 홀수
    #if i % 2 != 0: 라는 조건식으로 해도됨
    a += i # 계속 a에 더해줌

print(a)

25

40

1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [33]:
a = 1 #1부터 해줘야함 (곱셈이라)
for i in range(1,11,1):  # i 는 1부터 11전까지(10까지) 1씩 증가, 1부터 10까지
    a *= i #a에 계속 곱해줌

print(a)

3628800

41

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
```
price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500
```

In [17]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)): # 0부터 인덱스의 길이 전까지만큼
    print(price_list[i]) # 인덱스별로 출력

32100
32150
32000
32500

42

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500
```

In [44]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i,price_list[i])

# unpacking
for idx, value in enumerate(price_list): #enumrate를 이용한 언패킹
    print(idx, value)   #idx 에 인덱스값, value로 price_list의 인자값을 받음

0 32100
1 32150
2 32000
3 32500
0 32100
1 32150
2 32000
3 32500

43

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500
```

In [45]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(len(price_list)-i-1,price_list[i]) #역순으로 출력 , i는 0~3, 인덱스에서 i만큼 뺴줘서 역순출력

for i in range(len(price_list)-1,-1,-1): 
    print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500
0 32500
1 32000
2 32150
3 32100

44

아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

```
price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500
```

In [47]:
price_list = [32100, 32150, 32000, 32500]

for i in range(1,len(price_list)): # 1번인덱스부터 끝까지
    print(100+i*10,price_list[i]) # 인덱스*10+100, 인자값

110 32150
120 32000
130 32500

45

my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라
```

In [48]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list) - 1): #끝에서 한 칸 전까지 (다 까지)
    print(my_list[i], my_list[i+1]) # 인덱스, 인덱스+1 출력

가 나
나 다
다 라

46

리스트를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마
```

In [16]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list) - 2): #끝에서 두 칸 전까지 (다 까지)
    print(my_list[i], my_list[i+1], my_list[i+2]) # 인덱스, 인덱스+1, 인덱스+2 출력

가 나 다
나 다 라
다 라 마

47

반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

```
my_list = ["가", "나", "다", "라"]
라 다
다 나
나 가
```

In [49]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1): # 인덱스보다 1칸 적게
    print(my_list[len(my_list)-i-1],my_list[len(my_list)-i-2]) #역순으로 뒤에서부터 2개씩 출력

for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가
라 다
다 나
나 가

48

리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

```
my_list = [100, 200, 400, 800]
```
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.
```
100
200
400
```

In [33]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1): # 인덱스 전부 다 돌지않고 1칸 적게
    print(my_list[i+1]-my_list[i]) #인덱스 다음값과 해당 인덱스 요소간 차이 출력

100
200
400

49

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.
```
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [38]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(len(my_list)-2): #out of index 방지, -2
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3) # 연달아 나오는 3개의 요소값을 더하고 3으로 나눈값 (평균)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

50

리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

```
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
```

In [42]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)): # 인덱스 개수만큼 반복
    volatility.append(high_prices[i]-low_prices[i]) # 같은 인덱스 값을 가진 요소 끼리 차이 산출해서 append로 volatility에 넣어줌

for i in volatility:
    print(i)

50
100
30
80
0