01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [1]:
def print_new(): #def (definition) 함수이름 , () 괄호
    print("뉴딜") # 수행 할 내용 작성

뉴딜

02

01번에서 정의한 함수를 호출하라.

In [2]:
print_new() #함수 호출은 () 괄호 필요

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [3]:
for i in range(0,100,1): # 0~99까지 1씩
    print_new() # print_new() 함수 실행

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [7]:
def new_prints():
    for i in range(0,100,1): # 0~99, 100번반복
        print("뉴딜") # 출력

new_prints()

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [ ]:
#함수 정의 전에 호출했기때문에 not defined(정의 되지 않음)오류가 나게됨

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [5]:
"A" # message() 호출에서
"B" # message() 호출에서
"C" # print("C") 에서
"A" # message() 호출에서
"B" # message() 호출에서

'B'

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [ ]:
"A" # print("A") 에서
"C" # print("C") 에서
"B" # message() 호출에서

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
"A" # print("A")
"C" # print("C")
"B" # message1() 호출에서
"E" # print("E")
"D" # message2() 호출에서

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
# message2() 호출에서
"B" 
# message2()안에있는 message1() 호출에서
"A"

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [ ]:
"B" # message3 > message2
"C" # message3
"B" # message3 > message2
"C" # message3
"B" # message3 > message2
"C" # message3
"A" # message3 > message 1

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [ ]:
"안녕"
"Hi"

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
"7" # 3+4
"15" # 7+8

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
#매개변수에 입력값 필요

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
# 입력 형이 다르기때문에 생기는 오류

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [7]:
def print_with_smile(A): #A는 매개변수
    print(A+":D") # A문자열을 매개변수로 받아서 뒤에 :D 추가해 출력

print_with_smile("Hi")

Hi:D

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [9]:
def print_with_smile(A): #A는 매개변수
    print(A+":D") # A문자열을 매개변수로 받아서 뒤에 :D 추가해 출력

print_with_smile("안녕하세요")

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [9]:
def print_upper_price(price): #매개변수로 값 입력받음
    print(price*1.3) # 입력받은 값에 30% 곱해서 출력

print_upper_price(10000)

13000.0

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [ ]:
def print_sum(a,b): # a, b 두개의 매개변수
    print(a+b) # 매개변수끼리 합

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [11]:
def print_arithmetic_operation(a,b): # a, b 두개의 매개변수
    print("합:",a+b) # 매개변수들간 연산
    print("차:",a-b) # 매개변수들간 연산
    print("곱:",a*b) # 매개변수들간 연산
    print("나눗셈:",a/b) # 매개변수들간 연산

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [12]:
def print_max(a,b,c): # a b c 세 개의 매개변수
    if a>b and a>c: #각각 조건식 활용 최대값 확인
        print(a)
    elif b>c and b>a:
        print(b)
    elif c>a and c>b:
        print(c)

print_max(10,20,30)

def print_max(a,b,c): # a b c 세 개의 매개변수
    max_value =0 #max_Value라는 변수 활용해 최대값 저장
    if a> max_value:
        max_value=a
    if b> max_value:  #각각 조건식 활용 최대값 확인
        max_value=b
    if c> max_value:
        max_value=c
    print(max_value) # max value 리턴

30

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [18]:
def print_reverse(a): #문자열을 받을 매개변수
    print(a[::-1]) # 역순으로 출력
    #for i in range(len(s)-1,-1,-1):
    #print(s[i], end="")

print_reverse("python")

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [24]:
def print_score(lst): #리스트를 받을 매개변수
    s = 0;
    for i in lst: #매개변수로 받은 리스트를 이용한 for문
        s += i
    print(s/len(lst)) # 합 / 리스트의 길이 = 평균

    #print(sum(lst)/len(lst))

print_score([1,2,3,4,5,6,7,8])

4.5

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [23]:
def print_even(lst): #리스트를 입력받을 매개변수
    for i in lst: #입력받은 리스트를 이용한 for문
        if i%2==0: #짝수 찾기
            print(i) # 짝수 출력

print_even([1,2,3,4,5,6,7,8])

2
4
6
8

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [13]:
def print_keys(dic): # 딕셔너리를 입력받을 매개변수
    print(dic.keys()) #딕셔녀리의 키값들 출력
    print(dic) 
    for i in dic.keys(): # 키값들만 따로 출력
        print(i)

print_keys({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])
{'이름': '김말똥', '나이': 30, '성별': 0}
이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [17]:
def print_5xn(str):
    for i in range(0,len(str)+1,5):
        print(str[i:i+5])

def print_ex(str):
    line_num = int(len(str)/5)
    for i in range(line_num):
        print(str[i*5:i*5+5]) # 5글자를 기준으로 i*5 값이 5씩 증가하니 i*5와 i*5 의 +5 만큼씩

print_5xn("아이엠어보이유알어걸")
print_ex("아이엠어보이유알어걸")

아이엠어보
이유알어걸

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [20]:
def print_mxn(str,a):
    for i in range(0,len(str)+1,a):
        print(str[i:i+a])
print_mxn("아이엠어보이유알어걸",3)  

def print_ex(str,a): # 문자열을 입력받는 str, 글자수를 입력받을 a
    line_num = int(len(str)/a)+1
    for i in range(line_num):
        print(str[i*a:i*a+a]) # a글자를 기준으로 i*a 값이 a씩 증가하니 i*a와 i*a 의 +a 만큼씩
print_ex("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸
아이엠
어보이
유알어
걸

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [5]:
def calc_monthly_salary(annual_salary): #연봉 입력받음
    print(int(annual_salary/12)) # 연봉을 12개월로 나눈값 = 월급

calc_monthly_salary(34000000)

2833333

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [6]:
"왼쪽 100" # a값에 100을 줬으니 a =100
"오른쪽 200" # 마찬가지로 b는 200

'왼쪽 100'

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [ ]:
"왼쪽 100" # a는 먼저 입력받는 매개변수이므로 100
"오른쪽 200" # 마찬가지로 b는 200

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
4
"에러" # 지역변수

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [ ]:
def make_url(url): #url 문자열 입력받아
    print("www."+url+".com") # 넣어줌

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [7]:
def make_list(str) : #문자열을 입력받아서
    new_list = [] 
    for i in str: #반복문을 이용해서 
        new_list.append(i) # 리스트에 쪼개서 append
    return new_list

print(make_list("anaconda"))

['a', 'n', 'a', 'c', 'o', 'n', 'd', 'a']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [9]:
def pickup_even(lst): # 리스트 입력받아
    result = []
    for i in lst:
        if i%2==0: #짝수를 찾아서
            result.append(i)  #짝수면 새 리스트에 추가
    return result

print(pickup_even([1,2,3,4,5,6,7]))

[2, 4, 6]

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [10]:
def convert_int(str): # 문자열을 입력받아
    return int(str.replace(",","")) #replace 함수를 이용해 컴마 제거

print(convert_int("1,234,567")) #출력

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
# a = 14   b = 18   c = 22

"22"

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
# 함수(함수(10)) = 함수(14) => 함수(함수(14)) => 함수(18) => 22
"22"

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
# 함수1(10) => a = 14  => 함수2(a) = 함수2(14) => 14*10

"140"

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
# 함수2(10) => 12 => 함수1(12) => 12 + 4 = > 16

"16"

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [ ]:
# 함수2(2) => 2 = 2 + 10 => 함수1(12) => 함수0(14) => 14* 2

"28"